<div class="footer text-white">
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 text-center gap-4 py-10 max-w-5xl mx-auto"
  >
    <div class="flex justify-center items-center">
      <img src="logo.svg" alt="EstudoTech logo" srcset="" />
    </div>
    <div>
      <h3 class="text-xl">Escrevo sobre</h3>
      <nav aria-label="Escrevo sobre">
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >Carreira</a
        >
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >Programação</a
        >
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >Estudo</a
        >
      </nav>
    </div>
    <div>
      <h3 class="text-xl">Tecnologias abordadas</h3>
      <nav aria-label="Tecnologias abordadas">
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >Angular</a
        >
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >C#</a
        >
        <a routerLink="#" class="text-lg block py-2 px-4 hover:bg-gray-900"
          >AWS</a
        >
      </nav>
    </div>
    <div>
      <h3 class="text-xl pb-4">Redes Sociais</h3>
      <nav class="flex gap-4 justify-center" aria-label="Redes sociais">
        <a
          href="https://github.com/eugeniobandeira"
          target="_blank"
          rel="noopener noreferrer"
          class="pi pi-github text-4xl text-gray-400 hover:text-white cursor-pointer transition"
        >
          <span class="sr-only">GitHub</span>
        </a>
        <a
          href="https://www.linkedin.com/in/eugeniosb/"
          target="_blank"
          rel="noopener noreferrer"
          class="pi pi-linkedin text-4xl text-gray-400 hover:text-white cursor-pointer transition"
        >
          <span class="sr-only">LinkedIn</span>
        </a>
        <a
          href="https://www.instagram.com/_eugsb00/"
          target="_blank"
          rel="noopener noreferrer"
          class="pi pi-instagram text-4xl text-gray-400 hover:text-white cursor-pointer transition"
        >
          <span class="sr-only">Instagram</span>
        </a>
        <a
          href="#"
          target="_blank"
          rel="noopener noreferrer"
          class="pi pi-tiktok text-4xl text-gray-400 hover:text-white cursor-pointer transition"
        >
          <span class="sr-only">TikTok</span>
        </a>
      </nav>
    </div>

    <hr class="col-span-full mt-5" />

    <div class="col-span-full text-sm sm:text-lg text-gray-400 py-5">
      &copy; {{ year }} EstudoTech. Todos os direitos reservados.
    </div>
  </div>
</div>
